html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  background: #F2F2F2;
  color: #323232;
}

img {
  max-width: 100%;
}

.icon {
  fill: currentColor;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
}

a {
  color: #323232;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 960px;
  margin: 40px auto;
  padding: 32px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.my-profile {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  padding: 15px 0;
  /* border-bottom: 1px solid lightgrey; */
}

.section-title {
  font-weight: bold;
  font-size: 18px;
  background-color: rgba(48, 63, 159, 0.10);
  color: rgb(48, 63, 159);
  text-align: center;
  margin: 15px 0;
}

/***********************************
* =Main Info
***********************************/

img.avatar {
  width: 130px;
}

.my-name {
  font-size: 48px;
  line-height: 1;
  color: rgb(48, 63, 159);
}

.my-title {
  font-size: 24px;
  font-weight: 300;
  /* color: #236FB2; */
  font-style: italic;
}

.links {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  margin: 10px 0 20px 0;
}

.link-item {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0 5px;
}

.link-item svg {
  margin-right: 6px;
}

/***********************************
* =Experience
***********************************/

.job {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid lightgrey;
}

.job:last-child {
  border-bottom: none;
}

.job-title{
  font-style: italic;
  color: grey; 
}

.job-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 18px;
}

.job-company {
  font-weight: bold;
  line-height: 1.2;
}

.job-description{
  max-width: 70%;
}
/***********************************
* =Skills
***********************************/

.skills-container {
  display: flex;
  justify-content: space-between;
  flex-wrap:  wrap;
}

.skills-container>div {
  flex: 0 47%;
  margin: 5px 0;
}
.skills-title{
  display: flex;
  justify-content: space-between;
}
/***********************************
* =Languages
***********************************/

.languages-container{
  display: flex;
  justify-content: space-between;
  flex-wrap:  wrap;
}

.languages-container>div {
  flex: 0 47%;
  margin: 5px 0;
}

.languages-title{
  display: flex;
  justify-content: space-between;
}
/***********************************
* =Interests
***********************************/

.interests-container {
  display: flex;
  justify-content: space-between;
}

.interests-container img {
  height: 35px;
  opacity: 0.75;
}

/***********************************
* =References
***********************************/

.reference {
  font-size: 18px;
}

.reference-details {
  margin-bottom: 20px;
}


.dotFill {
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}